<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <a href="/" style="text-decoration:none;"><h3 class="text-muted"><strong><span style="color:#0086b3">tri</span><span style="color:#e69500;">va</span><span style="color:#cc2900">go</span></strong> Postlog Converter</h3></a>
      </div>
      <hr/>
      <div>
      <label>SUCCESSFULLY CONVERTED!</label>
      <p class="help-block">Click on the files to download the results.</p>
      <br/>
      <ul>
        {% for output in outputs %}
          <li><a href="{{url_for('converted_file', output=output)}}">{{output}}</a></li>
        {% endfor %}
      </ul>
      <hr/>
      <form action="/">
        <button type="submit" class="btn btn-default">Home</button>
      </form>
      </div>
    </div>
  </body>
</html>