<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" 
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <a href="/" style="text-decoration:none;"><h3 class="text-muted"><strong><span style="color:#0086b3">tri</span><span style="color:#e69500;">va</span><span style="color:#cc2900">go</span></strong> Postlog Converter</h3></a>
      </div>
      <hr/>
      <form action="upload" method="post" enctype="multipart/form-data">
        <label>File Input</label>
        <p class="help-block">Add more files to the list?</p>
        <input type="file" multiple="multiple" name="file[]" accept=".xlsx, .xls" /><br/>
        <button type="submit" class="btn btn-default">Upload</button>
      </form>
      <hr/>
      <div>
        <label>Uploaded Files</label>
        <p class="help-block">This is the list of input files you just uploaded.</p>
        <ul>
        <br/>
          {% for file in filenames %}
            <li><a href="{{url_for('uploaded_file', filename=file)}}">{{file}}</a></li>
          {% endfor %}
        <br/>
        </ul>
        <form action="convert" method="post" enctype="multipart/form-data">
          <button type="submit" class="btn btn-lg btn-primary">CONVERT NOW</button>
        </form>
      </div>
      <hr/>
      <form action="/">
        <button type="submit" class="btn btn-default">Home</button>
      </form>
    </div>
  </body>
</html>